html, hr, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
	padding-top: 30px;
}

#top {
	float: left;
	display: inline-block;
	padding-top: 10px;
	width: 50px;
}

#company {
	font-family: 'Yellowtail';
	font-size: 35px;
	padding-left: 5px;
}

#tagline {
	display: inline;
	padding-left: 10px;
	font-family: 'PT Sans Narrow', sans-serif;
}

#menu {
	display: inline-block;
	float: right;
}

#social {
	display: inline-block;
	overflow: hidden;
	padding-top: 20px;
}

#socialLogo {
	display: inline;
	float: left;
	padding: 1px;
}

#socialLogo-rs {
	display: inline;
	float: left;
	padding-left: 4px;
}

.clearfix {
	display: inline-block;
}

#recipe-name {
	display: inline-block;
	float: left;
	margin-top: 40px;

}

#print-stuff {
	display: inline;
	float: right;
	position: relative;
}

#print-pic {
	display: inline;
	float: left;
	width: 20px;
	color: #bababa;
}

#print-word {
	display: inline;
	float: right;
	color: #bababa;
	/*position: absolute;*/
}

hr {
	padding: 10px;
	width: 100%;
	background: repeating-linear-gradient( 45deg,
	/*#000,*/
  #222 1px,
  #333 10px,
  #ffffff 1px);
}

body {
	margin-left: 170px;
	margin-right: 170px;
}

ul {
	list-style: none;
	display: inline-block;
}

#p-text {
	margin-top: 30px;
	margin-bottom: 30px;
}


.recipe-name {
	clear: left;
	padding-top: 20px;
}

#recipe-post {
	clear: left;
	color: #bababa;
	font-family: 'PT Sans Narrow', sans-serif;
}

#recipe-name {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
}

img {
	width: 100%;
	margin-bottom: 30px
}

#container {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	font-family: 'Patrick Hand', cursive;
}

#p-text {
	font-family: serif;
	color: #928c82;
}


input[type="checkbox"]{
  width: 15px;
  height: 15px;
  cursor: pointer;
	margin: 10px;
	content: "";
	color: #898378;
}

#text1 {
	position: absolute;
	font-size: 28px;
	left: 50px;
	top: 45px;
	color: #898378;
	padding: 10px;
	margin-left: 20px;
	float: left;
}

#text2 {
	position: absolute;
	font-size: 28px;
	margin-left: 550px;
	top: 45px;
	float: left;
	color: #898378;
}

#headshot {
	display: inline-block;
}

#author {
	display: inline-block;
}

#author-photo {
	display: inline-block;
	float: left;
	padding-right: 20px;
}

#author-text {
	font-family: serif;
	color: #928c82;
	display: inline-block;
}

.button {
	float: right;
	display: inline-block;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#line {
	position: relative;
	overflow: visible;
	height: 1px;
	background-color: #ddd;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

#solid-line {
	color: gray;
}

footer {
	font-family: serif;
	color: #928c82;
}
