html, hr, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
	padding-top: 30px;
}

#top {
	float:left;
	display: inline-block;
	padding-top: 10px;
	width: 50px;
}

#tagline {
		display: inline;
		padding-left: 10px;
}
#company {
	font-family: 'Yellowtail';
	color: red;
	font-size: 35px;
	padding-left: 5px;
}

#social {
	display: inline-block;
	overflow: hidden;
	padding-top: 20px;
}

#socialLogo {
	display: inline;
	float: left;
	padding: 1px;
}

#socialLogo-rs {
	display: inline;
	float: left;
	/*padding-bottom: 3px;*/
}

hr {
	margin-top: 40px;
}

#print-pic {
	display: inline-block;
	float: left;
}

#print-word {
	display:inline-block;
	float: right;
}

body {
	margin-left: 170px;
	margin-right: 170px;
}

ul {
	list-style: none;
	display: inline-block;
}

#p-text{
	margin-top: 30px;
	margin-bottom: 30px;
}

#menu {
	display: inline-block;
	float: right;
}

#recipe-name {
 clear: left;
}

img {
	width: 100%;
	margin-bottom: 30px
}

#container {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
	margin-bottom: 10px;
}

#options label {
	float: left;
}

#options ul {
	margin: 0;
	list-style: none;
	float: left;
}

#options ul input {
	float: left;
}

input[type="checkbox"] {
	margin: 0;
	border: 5px;
	background: rgba(255, 0, 255, 1)
}

#text1 {
	z-index: 100;
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	left: 150px;
	top: 40px;
}

#text2 {
	z-index: 100;
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	left: 500px;
	top: 40px;
	float: left;
}



/*#image {
	background:
}*/

#headshot {
	display: inline-block;
}

#author {
	display: inline-block;
}

#author-info {
	display: inline;
	float: left;
	padding-right: 20px;
}

#share {
	display: inline-block;
	float: right;
}

#line {
	position: relative;
	overflow: visible;
	height: 1px;
	background-color: #ddd;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

#solid-line {
	color: gray;
}
